.progress-bar {
    display: flex;
    align-items: center;
}

.line {
    width: 50px;
    height: 3px;
    background-color: black;
}

.circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid black;
    border-color: black;
    background-color: white;
}

.circle.active {
    background-color: green;
    border-color: blue;
}

.buttons {
    cursor: pointer;
}

#prev {
    margin-right: 350px;
}